html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.help {
    width: 200px;
    display: block;
    float: left;
}
.map-container {
    height: 100%;
    margin-left: 230px;
    display: block;
}
.btn-find-me-container {
    text-align: center;
}